<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>new jdbc 12 month 2018</display-name>
  <listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
  </listener>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserHomeController</display-name>
    <servlet-name>UserHomeController</servlet-name>
    <servlet-class>tokyoboyband.controller.user.UserHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHomeController</servlet-name>
    <url-pattern>/UserHomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCollectionStoryController</display-name>
    <servlet-name>UserCollectionStoryController</servlet-name>
    <servlet-class>tokyoboyband.controller.user.UserCollectionStoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCollectionStoryController</servlet-name>
    <url-pattern>/UserCollectionStoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetailCollectionStory</display-name>
    <servlet-name>UserDetailCollectionStory</servlet-name>
    <servlet-class>tokyoboyband.controller.user.UserDetailCollectionStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetailCollectionStory</servlet-name>
    <url-pattern>/UserDetailCollectionStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>tokyoboyband.controller.user.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>servletFilter</filter-name>
    <filter-class>tokyoboybank.filter.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>servletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UserBookshelf</display-name>
    <servlet-name>UserBookshelf</servlet-name>
    <servlet-class>tokyoboyband.controller.user.UserBookshelf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBookshelf</servlet-name>
    <url-pattern>/UserBookshelf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateStory</display-name>
    <servlet-name>UserUpdateStory</servlet-name>
    <servlet-class>tokyoboyband.controller.user.UserUpdateStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateStory</servlet-name>
    <url-pattern>/UserUpdateStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdatedStory</display-name>
    <servlet-name>UserUpdatedStory</servlet-name>
    <servlet-class>tokyoboyband.controller.user.UserUpdatedStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdatedStory</servlet-name>
    <url-pattern>/UserUpdatedStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdatedStoryAPI</display-name>
    <servlet-name>UserUpdatedStoryAPI</servlet-name>
    <servlet-class>tokyoboyband.api.user.UserUpdatedStoryAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdatedStoryAPI</servlet-name>
    <url-pattern>/UserUpdatedStoryAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserColectionStoryshelf</display-name>
    <servlet-name>UserColectionStoryshelf</servlet-name>
    <servlet-class>tokyoboyband.controller.user.UserColectionStoryshelf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserColectionStoryshelf</servlet-name>
    <url-pattern>/UserColectionStoryshelf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdatedCollectionSoryAPI</display-name>
    <servlet-name>UserUpdatedCollectionSoryAPI</servlet-name>
    <servlet-class>tokyoboyband.api.user.UserUpdatedCollectionSoryAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdatedCollectionSoryAPI</servlet-name>
    <url-pattern>/UserUpdatedCollectionSoryAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdatedCollectionStory</display-name>
    <servlet-name>UserUpdatedCollectionStory</servlet-name>
    <servlet-class>tokyoboyband.controller.user.UserUpdatedCollectionStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdatedCollectionStory</servlet-name>
    <url-pattern>/UserUpdatedCollectionStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>tokyoboyband.controller.user.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>tokyoboyband.controller.user.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>