<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>new jdbc 12 month 2018</display-name>
	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>UserHomeController</display-name>
		<servlet-name>UserHomeController</servlet-name>
		<servlet-class>tokyoboyband.controller.user.UserHomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserHomeController</servlet-name>
		<url-pattern>/UserHomeController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserCollectionStoryController</display-name>
		<servlet-name>UserCollectionStoryController</servlet-name>
		<servlet-class>tokyoboyband.controller.user.UserCollectionStoryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCollectionStoryController</servlet-name>
		<url-pattern>/UserCollectionStoryController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserDetailCollectionStory</display-name>
		<servlet-name>UserDetailCollectionStory</servlet-name>
		<servlet-class>tokyoboyband.controller.user.UserDetailCollectionStory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDetailCollectionStory</servlet-name>
		<url-pattern>/UserDetailCollectionStory</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>tokyoboyband.controller.user.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>servletFilter</filter-name>
		<filter-class>tokyoboybank.filter.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>servletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>